# Paths Configuration
BASE_PATH=src/files
RAW_FOLDER=raw
SOURCE_FOLDER=source
STATIC_FOLDER=static
REPORT_FOLDER=raw/reports

# CSV File Settings
CSV_DELIMITER=,
# change delimeter for diff types :
# CSV_DELIMITER=;
# CSV_DELIMITER=\t

CSV_ENCODING=utf-8

# Logging Configuration
LOG_LEVEL=INFO

# Report Settings
REPORT_PREFIX=validation_report